<% content_for :body_class, "articles-admin" %>

<header role="admin-header">
  <h1>Articles</h1>
  <%= link_to 'New article', new_article_path %> 
</header> 

<section role="admin-box">
  <ul class="column-labels">
    <li>Main Image</li>
    <li>title</li>
    <li>body text</li>
    <li>actions</li>
  </ul>
  <% @articles.each do |article| %>
    <article>
      <span>
        <% if article.main_blog_img.exists? %>
          <%= image_tag article.main_blog_img.url(:thumb) %>
        <% end %>
        
      </span>
      <span><%= article.title %></span>
      <span><%= raw HTML_Truncator.truncate(article.text, 20) %></span>       
      <span>
        <%= link_to 'Show', article_path(article) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article_path(article),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
      </span>
    </article>
  <% end %>
</section>
 