<h2>Title:</h2>
<p>
  <%= @article.title %>
</p>

<h2>Text:</h2>
<div>
  <%= @article.text.html_safe %>
</div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<%= link_to 'All Articles', controller: 'articles' %>